@page
@model TennisBruck.Pages.CourtGrieskirchen

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hallenplatz Grieskirchen</title>
    <link rel="stylesheet" href="css/courtGrieskirchen.css">
    <script src="js/courtGrieskirchen.js"></script>
</head>
<body>
<div class="container">
    <h1>Hallenplatz Grieskirchen</h1>
    <form method="post" asp-page-handler="ChangePlayingState">
        <label
            class="status-label @(Model.LoggedInPlayer.IsPlayingGrieskirchen ? "label-playing" : "label-not-playing")">
            @(Model.LoggedInPlayer.IsPlayingGrieskirchen ? "Sie spielen aktuell in Grieskirchen mit." : "Sie spielen aktuell nicht in Grieskirchen mit.")
        </label>
        <label class="switch">
            <input type="checkbox" @(Model.LoggedInPlayer.IsPlayingGrieskirchen ? "checked" : "")
                   onclick="this.form.submit()">
            <span class="slider round"></span>
        </label>
    </form>

    @if (Model.LoggedInPlayer.IsAdmin)
    {
        <form method="post" asp-page-handler="GeneratePlan">
            <label class="status-label" for="startDate">Start Datum</label>
            <input id="startDate" type="date" name="startDate" placeholder="StartDate" value="2024-10-11" required/>
            <label class="status-label" for="endDate">End Datum</label>
            <input id="endDate" type="date" name="endDate" placeholder="EndDate" value="2025-04-18" required/>
            <button>Generiere Plan</button>
        </form>
    }
    
    <form method="post" asp-page-handler="Back">
        <button>Zurück</button>
    </form>
    
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Datum</th>
                <th>Spieler 1</th>
                <th>Spieler 2</th>
                <th>Spieler 3</th>
                <th>Spieler 4</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Courts)
            {
                <tr>
                    <td>@item.MatchDay.ToString("dd.MM.yy")</td>
                    @foreach (var playerCourtGrieskirchen in item.PlayerCourtGrieskirchens)
                    {
                        <td id="player-@playerCourtGrieskirchen.Player.Id"
                            class="draggable-player" draggable="true"
                            data-player-id="@playerCourtGrieskirchen.Player.Id"
                            data-court-id="@item.Id">
                            @playerCourtGrieskirchen.Player
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</body>
</html>