@page
@model TennisBruck.Pages.Members

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="css/members.css">
    <script src="js/toggleVisibility.js"></script>
</head>
<body>
<div class="members-container">
    <div class="members-box">
        <h2>Members List</h2>
        <form method="post">
            <table>
                <thead>
                <tr>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    @if (Model.LoggedInPlayer.IsAdmin)
                    {
                        <th>Benutzername</th>
                        <th>Email oder Nummer</th>
                        <th>Admin</th>
                        <th>Löschen</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var player in Model.AllPlayers)
                {
                    <tr>
                        <td>@player.Firstname</td>
                        <td>@player.Lastname</td>
                        @if (Model.LoggedInPlayer.IsAdmin)
                        {
                            <td>@player.Username</td>
                            <td>@player.EmailOrPhone</td>
                            <td>
                                <form method="post" asp-page-handler="ChangeAdmin">
                                    <input type="hidden" name="user" value="@player.Id"/>
                                    <input type="checkbox"
                                           onclick="this.form.submit()"
                                           @(player.IsAdmin ? "checked" : "")/>
                                </form>
                            </td>
                            
                            <td>
                                <button class="action-button delete" name="playerId" value="@player.Id" type="submit"
                                        asp-page-handler="DeleteUser">Löschen
                                </button>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </form>
    </div>
    
    @if (Model.LoggedInPlayer.IsAdmin)
    {
        <form method="post">
            <div class="actions">
                <button id="createUserButton" class="action-button create" onclick="toggleCreateUser()">Erstelle
                    Benutzer
                </button>
                <button asp-page-handler="Back" type="submit">Zurück</button>
            </div>
        </form>

        <div id="createUser" class="expandable-section" style="display: none;">
            <form method="post">
                <div class="form-group">
                    <label for="firstnameInput">Vorname</label>
                    <input id="firstnameInput" name="firstname" class="form-input" required/>
                </div>
                <div class="form-group">
                    <label for="lastnameInput">Nachname</label>
                    <input id="lastnameInput" name="lastname" class="form-input" required/>
                </div>
                <div class="form-group">
                    <label for="usernameInput">Benutzername</label>
                    <input id="usernameInput" name="username" class="form-input" required/>
                </div>
                <div class="form-group">
                    <label for="emailOrPhoneInput">Email oder Telefonnummer</label>
                    <input id="emailOrPhoneInput" name="emailOrPhone" class="form-input" required/>
                </div>
                <button type="submit" class="action-button submit" asp-page-handler="CreateUser">Erstellen</button>
            </form>
        </div>
        <label class="info-label">@Model.InfoBox</label>
    }
</div>
</body>
</html>